fastapi>=0.115.0
uvicorn[standard]>=0.32.0
python-multipart
websockets
pyserial
pandas>=2.0.0
numpy>=1.26.0,<2.0.0
xgboost>=2.0.0
joblib>=1.4.0
scikit-learn==1.5.2
scipy>=1.11.0
openpyxl
python-dotenv
aiofiles
